body {
    background-color: rgb(204, 204, 255);
}

h1 {
    color: black;
/*font*/
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 300%;
/*centering*/
    text-align: center;
    border: 2px solid powerderblue;
}

p {
    color: black;
    text-align: center;
}

ul{
    text-align: center;
}